{% extends "layout.html" %}

{% block content %} 
    <div class="col-md-7">
        <h1>Welcome to our Soccer match predictor!</h1>
        <p>Hi team, we need a better name for our project so it isn't just called "CS124H Group 12 Project".</p>
        <p>
            Also, I'm thinking we want the algorithm to not only find the most efficient combination but also output,
            like, a rating for certain combinations and maybe it'll be robust enough that it can be used to predict
            outcomes or smth. It would be super cool if we made some like prediction algorithm for matchups even
            if it doesn't quite have enough data to be like omg crazy psychic AI predicting future perfectly moment.
        </p>
    </div>

    <div class="col-md-5">
        <div class="content-section fade-in">
            <h3>Recent Calculations</h3>
            <p class="text-muted">See what other people have asked the algorithm to evaluate!</p>
            <p class="text-muted"><em>My idea here is like, we make a log of the combinations people make as examples.</em></p>
            <p class="text-muted"><em>France vs. Germany 2015 -- timestamp <br>some sort of percentage bar to show the result</em></p>
            <p class="text-muted"><em>Senegal vs. Japan 2017 -- timestamp <br>some sort of percentage bar to show the result</em></p>
            <!-- Not Implemented Yet -->

        </div>
    </div>
{% endblock %}
